@{
ViewBag.Title = "Index";
}

<div class="text-center w-25 center-block">
    <h3 class="text-center text-uppercase">Connexion</h3><br>
    <div class="center-block text-center">
        <input type="text" class="form-control" id="login-username" placeholder="Adresse email" name="loginUsername">
    </div>
    <div class="my-5 center-block text-center">
        <input type="password" class="form-control" id="login-password" placeholder="Mot de passe" name="loginPassword">
    </div>
    <input type="submit" id="login" class="btn font-weight-bold bg-info text-white center-block text-uppercase" value="Se connecter">
    <br>
</div>